:root {
  --darkPurple: #18171C;
  --lightPurple: #8E48FF;
  --grey: #3D3C41;
  --lightGrey: #B0B0B2;
  --extraLightGrey: #CECDD2;
}

body {
  margin-top: 10px;
  background-color: var(--darkPurple); 
  color: var(--extraLightGrey); 
}